.chatPage{
    background-color: rgb(31, 29, 29);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatContainer{
    background-color: white;
    height: 60%;
    width: 50%;
}
.header{
    background-color: crimson;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>h2{
    color: white;
    margin: 2.5vmax;
}
.header img{
    margin: 2.5vmax; 
    cursor: pointer;
    transition: all 0.3s;   
}
.header img:hover{
    transform: scale(1.2);
}
.chatBox{
    /* border: 0.2vmax solid black; */
    height: 70%;
    box-sizing: border-box;

}
.inputBox{
    /* border: 0.2vmax solid black; */
    height: 15%;
    display: flex;
}
#chatInput{
    width: 80%;
    border: none;
    outline: none;
    padding: 2vmax;
    box-sizing: border-box;
    background-color: white;
    font-size: 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 0.2vmax solid rgba(41,41,41,0.562);

}
.sendBtn{
    background-color: crimson;
    color: white;
    width: 21%;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
}
.sendBtn>img{
    width:2.6vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}
.sendBtn:hover{
    background-color: rgb(156,13,42);
}
.sendBtn:hover img{
    transform: translateX(10px);
}